<ParameterSet>
  <ConnectionParameters>
    <entry>
      <string>Local-Mysql</string>
      <Connection>
        <driver>com.mysql.jdbc.Driver</driver>
        <url>jdbc:mysql://localhost:3306/unilogi</url>
        <username>unilogi</username>
        <titleLine>2</titleLine>
        <dataLine>6</dataLine>
      </Connection>
    </entry>
    <entry>
      <string>Local-Mysql-Test</string>
      <Connection>
        <driver>com.mysql.jdbc.Driver</driver>
        <url>jdbc:mysql://localhost:8889/uni-logi</url>
        <username>test</username>
        <titleLine>2</titleLine>
        <dataLine>6</dataLine>
      </Connection>
    </entry>
    <entry>
      <string>MyBaits-Test</string>
      <Connection>
        <driver>oracle.jdbc.driver.OracleDriver</driver>
        <url>jdbc:oracle:thin:@10.20.55.52:1521:asn2test</url>
        <username>mybatis</username>
        <titleLine>2</titleLine>
        <dataLine>6</dataLine>
      </Connection>
    </entry>
    <entry>
      <string>TT-Touch-ASN2TEST</string>
      <Connection>
        <driver>oracle.jdbc.driver.OracleDriver</driver>
        <url>jdbc:oracle:thin:@10.20.55.52:1521:asn2test</url>
        <username>scms</username>
        <titleLine>2</titleLine>
        <dataLine>6</dataLine>
      </Connection>
    </entry>
  </ConnectionParameters>
  <SystemParameter>
    <commitLines>0</commitLines>
    <autoDateType>false</autoDateType>
    <dateFormat>yyyy-MM-dd</dateFormat>
    <timeFormat>hh:MM:ss</timeFormat>
  </SystemParameter>
</ParameterSet>